
@{
    ViewBag.Title = "Список ссылок";
}
<h2>@ViewBag.Title</h2>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <table class="table table-bordered">
            <tr>
                <td><p>Ссылка</p></td>
                <td><p>Короткая ссылка</p></td>
                <td><p>Дата создания</p></td>
                <td><p>количество переходов</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Url)
            {
                <tr>
                    <td><p>@b.Url</p></td>
                    <td><p>@b.ShortUrl</p></td>
                    <td><p>@b.DateCreated</p></td>
                    <td><p>@b.CountRedirects</p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>